# Intuit Craft Project Demo --- Queries

In [1]:
#import requried modules and libraries
import parser
import pprint

In [2]:
#File location
DATAFILE='./data.txt'

Parse and upload the data into our MongoDb collection named "data"

a. By using the shell command 
mongoimport --db test --collection logs --type json --file test.txt --jsonArray;

b. Using our parser

In [3]:
reload(parser)
parser.upload_file_data(DATAFILE)

Complete: Total 100 docs uploaded

In [4]:
#Get the DB from mongo dbo
db=parser.get_db('intuit')

1 -  Let us look at counts from collection

In [5]:
db.data.count()

100

2 - Let us look at some sample docs from database

In [6]:
cursor=db.data.find().limit(2)
for result in cursor:
    pprint.pprint(result)
    print '---------------------------------------'

{u'_id': u'57f69a76d78f77a646fe81ae',
 u'address': {u'city': u' Jenkinsville',
              u'state': u' New Jersey',
              u'street': u'112 Flatbush Avenue',
              u'zip': 965},
 u'age': 21,
 u'balance': 1104.81,
 u'company': u'ZANYMAX',
 u'email': u'walkerpennington@zanymax.com',
 u'gender': u'male',
 u'isActive': False,
 u'name': {u'first': u'Walker', u'last': u'Pennington'},
 u'phone': u'+1 (818) 423-2380',
 u'picture': u'http://placehold.it/32x32'}
---------------------------------------
{u'_id': u'57f69a76b8bf460ff346eca5',
 u'address': {u'city': u' Garnet',
              u'state': u' New Hampshire',
              u'street': u'984 Evergreen Avenue',
              u'zip': 2259},
 u'age': 20,
 u'balance': 1286.44,
 u'company': u'JOVIOLD',
 u'email': u'byershuffman@joviold.com',
 u'gender': u'male',
 u'isActive': True,
 u'name': {u'first': u'Byers', u'last': u'Huffman'},
 u'phone': u'+1 (929) 582-3633',
 u'picture': u'http://placehold.it/32x32'}
---------------------------------------

3 - Lets look at basic querries values

In [7]:
print 'Disctinct ages are %s' %len(db.data.distinct('age'))
print 'Disctinct gender are %s' %len(db.data.distinct('gender'))

Disctinct ages are 21
Disctinct gender are 2

In [8]:
print 'Disctinct states are %s' %len(db.data.distinct('address.state'))

Disctinct states are 58

In [9]:
print 'Total Entries with active users are %s' %db.data.count({'isActive':False})

Total Entries with active users are 52

4 - Some aggregation results

In [10]:
pipe=[{'$group':  { '_id':  "$age", 'count':{ '$sum':  1 }}}, {'$sort':  { "count":  -1}}]
result=db.data.aggregate(pipeline=pipe)
for x in result:
    pprint.pprint(x)

{u'_id': 26, u'count': 11}
{u'_id': 21, u'count': 9}
{u'_id': 25, u'count': 8}
{u'_id': 31, u'count': 7}
{u'_id': 32, u'count': 5}
{u'_id': 36, u'count': 5}
{u'_id': 34, u'count': 5}
{u'_id': 33, u'count': 5}
{u'_id': 35, u'count': 5}
{u'_id': 23, u'count': 5}
{u'_id': 29, u'count': 5}
{u'_id': 27, u'count': 4}
{u'_id': 24, u'count': 4}
{u'_id': 39, u'count': 4}
{u'_id': 37, u'count': 4}
{u'_id': 30, u'count': 3}
{u'_id': 22, u'count': 3}
{u'_id': 28, u'count': 3}
{u'_id': 38, u'count': 2}
{u'_id': 20, u'count': 2}
{u'_id': 40, u'count': 1}

In [15]:
print 'People with age greater than 35 are : %s' %db.data.count({"age": {"$gt": 25}})

People with age greater than 35 are : 69

In [12]:
pipe = [{'$group': {'_id': '$isActive', 'total': {'$sum': '$balance'}}}]
result=db.data.aggregate(pipeline=pipe)
for x in result:
    pprint.pprint(x)

{u'_id': True, u'total': 118853.98000000001}
{u'_id': False, u'total': 128905.18000000004}

5 - Find min or max

In [13]:
print 'Maximum balance is: %s'% db.data.find_one(sort=[("balance", -1)])["balance"]

Maximum balance is: 3995.96

In [14]:
print 'Minimum balance is: %s'% db.data.find_one(sort=[("balance", 1)])["balance"]

Minimum balance is: 1032.09